<!DOCTYPE html>
<html>
<head>
  <title>Wmusicapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<% if !current_user.blank? %>
		<%= link_to "Logout", signout_path %>
	<% end %>
</div>
<%= yield %>

</body>
</html>